package view

import (
	"github.com/mickaelyoshua/Registrador-de-Treino/model"
)

templ Index(user model.User) {
	@Base() {
		<h1>Olá { user.Username }!</h1>
		// two buttons side by side, one for add a new workout and one for view all workouts
		<div class="d-flex justify-content-center">
			<a href="/workout">Ver Treinos</a>
		</div>
	}
}